<!DOCTYPE html>
<head>
    <title>Codeial</title>
    <%-style %>
</head>
<body>
    <%- include('_header');%>
    <h1>
        <%- body %>
    </h1>

    <%- include('_footer');%>

    <%-script%>
</body>

</html>